global:
  scrape_interval: 30s
  scrape_timeout: 10s

rule_files:
  - alert.yml

scrape_configs:
  - job_name: services
    metrics_path: /metrics
    static_configs:
      - targets:
          - 'prometheus:9090'
          - 'idonotexists:564'

  - job_name: ulb1
    metrics_path: /metrics
    static_configs:
      - targets:
          - '172.31.2.85:9100'
